<div class="pl-4 pt-4 pr-4 pb-1 h-full">
  <div class="h-full bg-white rounded-2xl flex flex-col px-3 py-2 sm:px-8">
    <div class="flex justify-between items-center">
      <div class="">
        <p class="text-3xl font-bold">{{ title }}</p>
      </div>
      <div class="flex gap-4">
        <button mat-raised-button color="accent" [routerLink]="'/modules/pages/leave'">
          Back
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
      </div>

    </div>
    <div class="p-4">
      <form class="flex flex-col  space-y-3" [formGroup]="form">
        <mat-form-field appearance="outline" class="w-full">
          <mat-select placeholder="staff" formControlName="staffId">
            <mat-option *ngFor="let item of Staff" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Reason</mat-label>
          <input matInput placeholder="reason" formControlName="reason">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
          <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
          <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        <p>
          <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
        </p>
      </form>
    </div>
  </div>
</div>
