<!-- login form -->
<form class="my-10 space-y-6">
  <div class="text-center">

    <p class="text-sm text-gray-400 dark:text-night-200">Enter your credential to access your account.</p>
  </div>

  <div class="space-y-3 text-left " [formGroup]="form">
    <mat-form-field appearance="outline" class="w-full" >
      <mat-label>Username or Email address</mat-label>
      <input matInput placeholder="Username & Email address" (keydown)="keyDownFunction($event)" formControlName="username" >
    </mat-form-field>
    <div class="relative">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" (keydown)="keyDownFunction($event)" formControlName="password" [type]="showPassword ? 'text' : 'password'" id="password">
        <span class="absolute  right-5 cursor-pointer text-gray-400 dark:text-night-300" (click)="showPassword = !showPassword">
                  <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                </span>
      </mat-form-field>
    </div>
  </div>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" class="w-full"
    type="button"
    (click)="onSignIn()"
  >Sign in
  </button>
</form>
