<ng-container [ngSwitch]="status">
  <ng-container *ngSwitchCase="EStatus.active">
    <span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{status}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="EStatus.inactive">
    <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-gray-300">{{status}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="EStatus.deleted">
    <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{status}}</span>
  </ng-container>
</ng-container>
